.venv

node_modules

.ipynb_checkpoints
*.ipynb
__pycache__
**/.coverage
**/report*

data_preprocess/archive
data_preprocess/output
data_preprocess/source

server/data
client/coverage
client/package-lock.json

*.tar