/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site: "default";
@reset: "default";

/* Elements */
@button: "default";
@container: "default";
@divider: "default";
@flag: "default";
@header: "default";
@icon: "default";
@image: "default";
@input: "default";
@label: "default";
@list: "default";
@loader: "default";
@placeholder: "default";
@rail: "default";
@reveal: "default";
@segment: "default";
@step: "default";

/* Collections */
@breadcrumb: "default";
@form: "default";
@grid: "default";
@menu: "default";
@message: "default";
@table: "default";

/* Modules */
@accordion: "default";
@checkbox: "default";
@dimmer: "default";
@dropdown: "default";
@embed: "default";
@modal: "default";
@nag: "default";
@popup: "default";
@progress: "default";
@rating: "default";
@search: "default";
@shape: "default";
@sidebar: "default";
@sticky: "default";
@tab: "default";
@transition: "default";

/* Views */
@ad: "default";
@card: "default";
@comment: "default";
@feed: "default";
@item: "default";
@statistic: "default";

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder: "themes";

/* Path to site override folder */
@siteFolder: "site";

/*******************************
         Import Theme
*******************************/

@import (multiple) "~semantic-ui-less/theme.less";
@fontPath: "../../../themes/@{theme}/assets/fonts";

/* End Config */
@importGoogleFonts: false;
@black: #3d434c;
@green: #3c8663;
@red: #e00f13;
@textColor: #4a4f59;

@fontSize: 16px;
@primary: @red;
@border: none;
@boxShadow: none;
@headerFont: "Noto Sans SC", sans-serif;
@lineHeight: 1.8em;
@focusedFormBorderColor: @black;
@focusedFormMutedBorderColor: @black;

/*
* dimmer
*/
.ui.dimmer {
	background-color: unset !important;
}
.ui.dimmer .ui.loader:after {
	border-color: @black transparent transparent;
}

/*
* menu
*/
.ui.menu {
	padding: 0 3em;
}
.ui.menu .item:hover {
	background-color: lighten(@primary, 50);
}
.ui.menu .active.item {
	background-color: unset;
	border-bottom: 3px solid lighten(@primary, 30);
}

/*
* cards
*/
.ui.centered.cards {
	justify-content: space-evenly;
}
.ui.cards:after,
.ui.card:after {
	content: unset;
}
.ui.cards > .card > .content,
.ui.card > .content {
	border-top: none;
}
